<footer class="footer">
    <div class="data">
        <div>
            <p><strong>Nosotros</strong></p>
            <p>
                {{ this.informacionAdic }} 
            </p>
        </div>
        <div>
            <p><strong>Datos de Contacto</strong></p>
            <p>
                {{ this.contacto }} 
            </p>
            <p><strong>Email:</strong> {{ this.mail }} </p>
        </div>
        <div class="afip-fiscal">

            <div>
                <a href="https://api.whatsapp.com/send?phone=+54{{this.cel}}&text=Hola, quiero hacer una consulta!" target="_blank" title="WhatsApp"> <i class="fa fa-whatsapp fa-3x"></i></a>
            </div>
            
            <div>
                <a href="{{this.facebook}}" target="_blank"> <i class="fa fa-facebook-square fa-3x" title="Facebook"></i></a>
            </div>
        
            <div>
                <a href="{{instagram}}" target="_blank"> <i class="fa fa-instagram fa-3x" title="Instagram"></i></a>
            </div>

        </div>
    </div>
</footer>
<div class="info-developer">
    <div><a href="http://www.sistemasrafaela.com.ar/" target="_blank">SR Desarrollos</a></div>
</div>
