.example-card {
    max-width: 400px;
  }

  .mat-card {
    text-align: center;
    margin: 0 auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-spinner {
    margin: 100px auto;
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
  }