<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>list</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button *ngIf="!this.authService.isAuthenticate()" mat-menu-item (click)="loginUserGo()">Login</button>
    <button *ngIf="!this.authService.isAuthenticate()" mat-menu-item (click)="createUserGo()">Registrarse</button>
    <button *ngIf="this.authService.isAuthenticate()" mat-menu-item (click)="viewProductsGo()">Ver Productos</button>
    <button *ngIf="this.authService.isAuthenticate()" mat-menu-item (click)="updatePasswordGo()">Actualizar Contraseña</button>
    <button *ngIf="this.authService.isAuthenticate()" mat-menu-item (click)="logOut()">Logout</button>
  </mat-menu>

  <span class="tittlebar">Opciones</span>
  <span class="example-spacer"></span>
  <span mat-icon-button class="example-icon tittlebar" aria-label="Example icon-button with share icon">
    {{ this.dataServices.userName }}
  </span>
  <button *ngIf="this.authService.isAuthenticate()" (click)="updatePasswordGo()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon> vpn_key</mat-icon>
  </button>
  <button *ngIf="!this.authService.isAuthenticate()" (click)="loginUserGo()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>https</mat-icon>
  </button>
  <button *ngIf="this.authService.isAuthenticate()" (click)="logOut()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>