<mat-card class="my-card">
    <mat-card-content>
        <form [formGroup]="this.formUpdatePassword" class="lgu-form">
            <mat-form-field class="full-width">
                <mat-label>Password Actual {{ (this.isSubmmit && !this.formUpdatePassword.controls['OldPassword'].valid ? '*':'') }}</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="OldPassword" placeholder="Password Actual" name="OldPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Nueva Password {{ (this.isSubmmit && !this.formUpdatePassword.controls['NewPassword'].valid ? '*':'') }}</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="NewPassword" placeholder="Nueva Password" name="NewPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Repetir Password {{ (this.isSubmmit && !this.formUpdatePassword.controls['RepeatPassword'].valid ? '*':'') }}</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="RepeatPassword" placeholder="Repetir Password" name="RepeatPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button [class.spinner]="this.loading" [disabled]="this.loading" (click)="updatePasswordDo()" color="primary">ACTUALIZAR</button>
    </mat-card-actions>
</mat-card>
